<div class="container">
  <h2>{{city?.name}}</h2>
  <div class="five-day-forecast">
    <ul class="forecast">
      <li>Day 1</li>
      <li class="icon">ICON</li>
      <li>
        {{city?.main?.temp  | fahrenheitConverter}}&#176;F /
        {{city?.main?.temp | celsiusConverter}}&#176;C
      </li>
      <li>{{city?.weather?.description}}</li>
    </ul>
    <ul class="forecast">
      <li>Day 2</li>
      <li class="icon">ICON</li>
      <li>
        {{city?.main?.temp  | fahrenheitConverter}}&#176;F /
        {{city?.main?.temp | celsiusConverter}}&#176;C
      </li>
      <li>{{city?.weather?.description}}</li>
    </ul>
    <ul class="forecast">
      <li>Day 3</li>
      <li class="icon">ICON</li>
      <li>
        {{city?.main?.temp  | fahrenheitConverter}}&#176;F /
        {{city?.main?.temp | celsiusConverter}}&#176;C
      </li>
      <li>{{city?.weather?.description}}</li>
    </ul>
    <ul class="forecast">
      <li>Day 4</li>
      <li class="icon">ICON</li>
      <li>
        {{city?.main?.temp  | fahrenheitConverter}}&#176;F /
        {{city?.main?.temp | celsiusConverter}}&#176;C
      </li>
      <li>{{city?.weather?.description}}</li>
    </ul>
    <ul class="forecast">
      <li>Day 5</li>
      <li class="icon">ICON</li>
      <li>
        {{city?.main?.temp  | fahrenheitConverter}}&#176;F /
        {{city?.main?.temp | celsiusConverter}}&#176;C
      </li>
      <li>{{city?.weather?.description}}</li>
    </ul>
  </div>
  <div class="home-btn">
    <button routerLink="/weather" class="btn btn-outline-dark">Home</button>
  </div>
</div>
