<div class="container">
  <div class="row">
    <weather-thumbnail [data]="data1" class="col-lg-3 col-md-4 col-sm-12"></weather-thumbnail>
    <weather-thumbnail [data]="data2" class="col-lg-3 col-md-4 col-sm-12"></weather-thumbnail>
    <weather-thumbnail [data]="data3" class="col-lg-3 col-md-4 col-sm-12"></weather-thumbnail>
    <weather-thumbnail [data]="data4" class="col-lg-3 col-md-4 col-sm-12"></weather-thumbnail>
    <weather-thumbnail [data]="data5" class="col-lg-3 col-md-4 col-sm-12"></weather-thumbnail>
  </div>
</div>
