<div class="card">
  <div class="card-header">
    <h5>{{data.name}}</h5>
  </div>
  <div class="card-content">
    <br />{{data.main.temp | fahrenheitConverter}}&#176;F
    <br />{{data.main.temp | celsiusConverter}}&#176;C
    <br />{{data.weather[0].description}}
    <div [ngSwitch]="data.weather.description">
      <img *ngSwitchCase="'overcast clouds'" src="assets/cloudy.png" alt="">
      <img *ngSwitchCase="'sunny'" src="assets/sunny.png" alt="">
      <img *ngSwitchCase="'snow'" src="assets/snow.png" alt="">
      <img *ngSwitchCase="'rainy'" src="assets/rain.png" alt="">
      <img *ngSwitchCase="'partly cloudy'" src="assets/partly_cloudy.png" alt="">
    </div>
  </div>
</div>
