<form class = "formText">
  <h1>Fill in the Location Details Below:</h1>
  <div class = "col-md-6">
  <input type="text" placeholder = "City Name " required>
  </div>
 <div class = "col-md-6">
 <input  type="text" placeholder="State" required>
 </div>
 <div class = "col-md-6">
<input type="text" placeholder = "ZipCode " required>
</div>
<div class = "col-md-6">
<input  type="text" placeholder = " question or comment " required>
</div>
<div class = "col-md-6">
<button class = "btn btn-lg btn-primary"  type="submit">Save
<i class="fa fa-send-o"></i>
</button>
</div>
</form>
